extends layout

block content
  h1 #{title} test
  p Welcome  wadfadwda  #{title}
  <div>Test div</div>
  block scripts
      script(type='text/javascript').  
        var myVar = "Hello Var";
        var b = myVar.b.c;
        console.error(myVar)