doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
      script(type='text/javascript').  
        var myVar = "Hello Var";
        var b = myVar.b.c;
        console.error(myVar)
  body
    block content
    
  